<div class="k-block">
  <h3>Button Group</h3>
  <div class="row">
    <div class="col-sm-12 col-md-4 example-col">
      <p>Icons only</p>
      <kendo-buttongroup>
        <button kendoButton [togglable]="true" [icon]="'bold'"></button>
        <button kendoButton [togglable]="true" [icon]="'italic'"></button>
        <button kendoButton [togglable]="true" [icon]="'underline'"></button
      ></kendo-buttongroup>
    </div>
    <div class="col-sm-12 col-md-4 example-col">
      <p>Text only</p>
      <kendo-buttongroup>
        <button kendoButton [togglable]="true">
          Bold
        </button>
        <button kendoButton [togglable]="true">
          Italic
        </button>
        <button kendoButton [togglable]="true">
          Underline
        </button></kendo-buttongroup
      >
    </div>
    <div class="col-sm-12 col-md-4 example-col">
      <p>Text Icons</p>
      <kendo-buttongroup>
        <button kendoButton [togglable]="true" [icon]="'bold'">Bold</button>
        <button kendoButton [togglable]="true" [icon]="'italic'">Italic</button>
        <button kendoButton [togglable]="true" [icon]="'underline'">
          Underline
        </button></kendo-buttongroup
      >
    </div>
  </div>
  <div class="col-sm-12 example-col">
    <p>Buttons with responsive width</p>
    <kendo-buttongroup [width]="'100%'">
      <button kendoButton [toggleable]="true" [icon]="'bold'">Bold</button>
      <button kendoButton [toggleable]="true" [icon]="'italic'">Italic</button>
      <button kendoButton [toggleable]="true" [icon]="'underline'">
        Underline
      </button>
    </kendo-buttongroup>
  </div>
</div>
